<div id="sidebar">
  <div id="admin_info">
    <h1>Administrators can .. </h1>
    <ul>
      <li>Create and edit teams</li>
      <li>Manage teams and people</li>
      <li>Change account permissions</li>
      <li>Change account and team settings</li>
    </ul>
    <h1>Only the account holder can .. </h1>
    <ul>
      <li>Cancel the account</li>
      <li>Upgrade or downgrade the account</li>
    </ul>
  </div>
</div>
