<div class="content shadow">
  <div class="header">
	<div class="link_bar">
		<%= link_to 'New skill', new_team_skill_path(@team) %>
		|
		<a href="#">New link</a>
	</div>
    <h2>Team overview and activity</h2>
  </div>
  <div class="dashboard">
    <% unless @team.banner_text.blank? %>
      <% if @team.display_banner? %>
        <p class="banner_text"><%= @team.banner_text %></p>
      <% end %>
    <% end %>
  </div>
</div>