<div class="content shadow">
  <div class="header">
	<% if admin? || team_admin?(@team, current_user) %>
		<div class="link_bar">
			<%= link_to 'New skill', new_team_skill_path(@team) %>
			|
			<%= link_to 'New event', new_team_event_path(@team) %>
			|
			<%= link_to 'Schedule', slots_team_path(@team, :all => true) %>
		</div>
	<% end %>
    <h2>Team overview and activity</h2>
  </div>
  <div class="dashboard">
    <% unless @team.banner_text.blank? %>
      <% if @team.display_banner? %>
        <p class="banner_text"><%= @team.banner_text %></p>
      <% end %>
    <% end %>
  </div>
</div>