<div class="content round shadow signin">
  <h3>This reset password page has expired</h3>
  <p>
    For security reasons, reset password pages stop working after a certain length of time
    or after you have used them to reset a password.
  </p>
  <p class="last">
    If you're trying to reset your password, please
    <%= link_to 'go back to the sign in screen', signin_path %>
    and click the "forgot password" link to reset it again.
  </p>
</div>