<div class="header">Your churches</div>
<table>
  <thead>
    <tr><th colspan="4"><%= current_user.name_or_email %>
  </thead>
  <tbody>
  <% @accounts.each do |account| %>
    <tr>
      <td class="what"><span class='church'>Church</span></td>
      <td><%= link_to account.name, {:controller => 'sessions', :action => 'set_account', :id => account}, :method => :post %></td>
    <tr>
  <% end %>
  </tbody>
</table>
