<div id="sidebar">
  <div id="admin_info">
    <h1>Team administrators can .. </h1>
    <ul>
      <li>Manage team settings and permissions</li>
      <li>Add or remove team members</li>
    </ul>
    <h1>Only the account administrator can .. </h1>
    <ul>
      <li>Remove this team</li>
      <li>Add a new team</li>
      <li>Remove people from this account</li>
    </ul>
  </div>
</div>