<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table width="100%"><tr><td>
      <p>Hello <%= @user.name_or_email %></p>
      <p>
        Can't remember your <%= APP_NAME %> password? Don't worry about it - it happens!
        Your email address for login is: <%= @user.email %>
      </p>
      <p>
        Just click this link to reset your password (watch for wrapping) ..<br />
        <%= profile_reset_url(@user.forgot_hash) %>
      </p>
      <p>
        If you didn't ask to reset your password,
        it's likely that another user entered your email address by mistake while trying to reset their password.
        If that's the case, you don't need to take any further action and can safely disregard this email.
      </p>
    </td></tr></table>
  </body>
</html>
