body                    {font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;background:#e5e5e5 url("../images/header_bg.gif") repeat-x;}

.container              {background-color:#e5e5e5;}
.container a            {padding:0.1em;}
.container a:hover      {background-color:#253966;color:#d6ffcf;}

#main .blank_slate              {margin:2em auto 20em;width:70%;}
#main .blank_slate img          {padding:0;float:left;}
#main .blank_slate h2           {margin:.5em 0;font-size:1.5em;font-weight:bold;}
#main .blank_slate p            {font-size:1.2em;line-height:1.3em;margin-bottom:2em;}
#main .blank_slate .message     {padding:.5em 0 0 17em;}
#main .blank_slate .big_button  {float:left;margin:0;}

#header                                 {padding:0.5em 1em 0 1em;background-color:#c5e2e9;overflow:hidden;}
#header .status                         {float:right;font-size:.9em;}
#header h1                              {font-size:2em;margin:.5em 0 1em 0;}
#header h1 span                         {font-size:.7em;color:#485c8a;font-weight:normal;}
#header .include_backlink h1            {clear:both;margin:.5em 0 .5em 0;padding-top:.25em;}
#header .include_backlink ul            {float:left;position:relative;top:-.1em;margin:0;padding:0;list-style-type:none;}
#header .include_backlink li            {margin:0;padding:0;display:inline;}

#main                                   {padding:1.0em;}
#main .content                          {background-color:#fff;overflow:hidden;}
#main .content .header                  {background-color:#edf3fe;overflow:hidden;padding:0 1.5em;font-weight:bold;}
#main .content .header h1               {font-size:1.3em;font-weight:bold;margin:1.5em 0;padding:0;}
#main .content .header h1 a             {font-size:.8em;font-weight:normal;margin-left:1em;}
#main .content .header h2               {font-size:1.1em;font-weight:bold;margin:.75em 0;padding:0;}
#main .content .header .big_button      {float:right;}
#main .content .header ul               {float:right;display:inline;font-weight:normal;list-style:none;margin:0.75em 0;padding:0;}

#main .content .form                          {padding:.4em 4em 3em 1.5em;}
#main .content .form div.fieldset_desc        {color:#777;line-height:1.3em;}
#main .content .form div.fieldset_desc h2     {margin:2em 0 .5em;}
#main .content .form div.recover_email        {padding:.75em;margin:1.5em 0;border:solid 1px #ccc;}
#main .content .form div.recover_email p      {margin:0;line-height:1.2em;}
#main .content .form div.recover_email h2     {margin:0 0 .25em;}
#main .content .form div.avatar               {margin:0 1em 0 0;text-align:center;float:left;background-color:#eee;}
#main .content .form div.avatar img           {margin:1.1em 1.1em 0;}
#main .content .form div.avatar div           {font-size:.8em;margin:0 0 .5em;}

#main .content .form h3                       {margin:1em 0 .5em;font-size:1.1em;font-weight:bold;}
#main .content .form .block_intro             {margin:.25em 0;color:#666;line-height:1.3em;}
#main .content .form .block                   {margin:0 0 2.5em 0;background-color:#f0f0f0;padding:.4em;}
#main .content .form .block textarea          {width:40em;height:7em;}
#main .content .form .block label             {font-weight:normal;color:#666;}
#main .content .form .block p                 {color:#666;font-size:1em;line-height:1.3em;margin-bottom:1.5em;}

#main .content .form fieldset textarea        {width:40em;height:10em;}
#main .content .form fieldset                 {border:none;background-color:#e9e9e9;padding:1em .25em;margin:.3em 0 1em 0;}
#main .content .form fieldset .ext            {width:3.5em;}
#main .content .form fieldset.edit            {background-color:transparent;}
#main .content .form fieldset .read_only td   {padding-bottom:0.3em;}
#main .content .form fieldset.profile         {background-color:transparent;}

#main .content .form table              {width:auto;background-color:transparent;margin:0;}
#main .content .form table td,
#main .content .form table th           {white-space:nowrap;padding:.2em;font-weight:normal;font-size:1em;width:1px;}
#main .content .form table td label     {font-weight:normal;}
#main .content .form h2                 {font-size:1.1em;font-weight:bold;}
#main .content .form .footer            {margin:2em 0 0;padding:1em 0 0;}
#main .content .form .footer h2         {margin:1em 0 .5em;}
#main .content .form p                  {margin:0 0 1em 0;}

#main .content .assign .action                    {width:30%;float:left;line-height:1.2em;text-align:center;padding:0;margin:3em 1em 1em 0;}
#main .content .assign .action input              {margin-bottom:1em;font-weight:bold;}
#main .content .assign .action a                  {font-weight:bold;display:block;margin-bottom:.25em;font-size:1.2em;text-decoration:none;}
#main .content .assign .action a:hover            {color:red;background-color:transparent;}
#main .content .assign .action span               {color:#666;}
#main .content .assign .action p                  {margin:3em 0;color:#666;font-size:.9em;line-height:1.2em;text-align:left;}
#main .content .assign .action p span             {color:#444;text-transform:uppercase;font-size:.9em;display:block;font-weight:bold;}
#main .content .assign .action a.back_link        {text-align:left;font-weight:normal;}
#main .content .assign .action a.back_link:hover  {background-color:#253966;color:#d6ffcf;}
#main .content .assign table                      {width:65%;margin:1em 0;padding:0 0 0 1.5em;border-left:solid 1px #ddd;font-size:1.2em;}
#main .content .assign table .note                {padding:.5em 0;white-space:normal;font-size:1em;line-height:1.2em;}
#main .content .assign table th                   {font-weight:bold;}

#main .content .assign.team_members .action   {width:20%;}
#main .content .assign.team_members table     {width:80%;}
#main .content .assign.team_members table td  {border-bottom:solid 1px #eee;padding:.1em;}

#main .content .assign table .add_link              {font-size:.8em;color:#888;}
#main .content .assign table td.bulk_links          {font-size:.8em;color:#888;font-size:.75em;padding:.3em .1em;}
#main .content .assign table td.bulk_links a        {color:#888;}
#main .content .assign table td.bulk_links a:hover  {color:#fff;}

#main .content .form fieldset.profile td            {font-size:1.2em;line-height:1.2em;padding:1.0em 1em 0em 0;}
#main .content .form fieldset.profile tr.hint td    {padding:.1em;}
#main .content .form fieldset.profile tr.hint div   {padding:0;width:25em;white-space:normal;font-size:0.85em;line-height:1.1em;color:#9999bc;}
#main .content .form fieldset.edit_gravatar                      {margin-top:2em;padding:1.5em;line-height:1.0em;}
#main .content .form fieldset.edit_gravatar p                    {padding-left:85px;font-size:0.9em;color:#555;margin:.5em 0;}
#main .content .form fieldset.edit_gravatar h3                   {padding-left:85px;font-weight:bold;font-size:0.9em;color:#444;}
#main .content .form fieldset.edit_gravatar .gravatar            {float:left;}

#main .content .edit_profile td         {width:50%;}
#main .content .edit_profile .card      {margin-left:1em;background-color:#e7e6e7;overflow:hidden;-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
#main .content .edit_profile .top       {background-color:#444;color:#eee;padding:0.75em 1.5em 0.75em 1.25em;font-size:1.0em;font-weight:bold;border-top-left-radius:10px;border-top-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;}

/* styles id card on edit current user screen */
#main .content .edit_profile .bottom              {padding:0.4em 0.5em 0.3em 1.2em;}
#main .content .edit_profile .bottom ul           {padding:0 0 0 5.5em;margin:0;list-style-type:none;}
#main .content .edit_profile .bottom ul .name     {font-weight:bold;font-size:1.1em;}
#main .content .edit_profile .bottom ul .email    {font-size:1.1em;}
#main .content .edit_profile .bottom ul .pass     {margin-top:1.2em}
#main .content .edit_profile .bottom .padlock     {margin:0.3em 0 0.5em;float:right;}
#main .content .edit_profile .gravatar            {float:left;margin-top:0.5em;}
#main .content .edit_profile .gravatar            {float:left;}

#main .content .edit_profile            {margin:1em 1em 2em;padding:0;}
#main .content .edit_profile a          {font-size:1.2em;font-weight:bold;}
#main .content .edit_profile p          {font-size:1.1em;margin:.6em 0;line-height:1.4em;}

#main .dashboard                        {padding:.5em 1.75em;}
#main .dashboard h1                     {font-size:1.2em;font-weight:bold;margin:1em 0;padding:0;}
#main .dashboard p.banner_text          {font-size:1.2em;line-height:1.3em;margin-top:2em;}
#main .dashboard table                  {margin:0 0 1em;}
#main .dashboard table td               {border-bottom:solid 1px #efefef;padding:.3em .25em;}
#main .dashboard table th               {font-size:1.1em;font-weight:bold;padding:.25em;}
#main .dashboard table th a             {text-decoration:none;color:#000;}
#main .dashboard table th a span        {color:#666;font-size:.8em;}
#main .dashboard table th a:hover       {color:#d6ffcf;}
#main .dashboard table th a:hover span  {color:#d6ffcf;}
#main .dashboard table td.last          {color:#555;font-size:.9em;width:1px;border-left:solid 1px #efefef;white-space:nowrap;}
#main .dashboard table td.who           {font-size:.9em;text-align:right;padding-right:.5em;color:#999;}
#main .dashboard table td.who span      {color:#555;padding-left:.25em;}
#main .dashboard table td.what          {width:1px;white-space:nowrap;}
#main .dashboard table td.what span     {width:6em;display:block;font-size:.9em;text-align:right;padding:.2em .5em;background-color:#c87800;color:white;}
#main .dashboard table td.what .availability  {background-color:green;}


/* overrides blueprint table stripe */
#main tbody tr:nth-child(even) td,
#main tbody tr.even td              {background:none;}

#main table                         {font-size:0.9em;margin:2.0em auto;width:96%;}
#main th                            {padding:.25em .75em;font-size:1.4em;background:#e9e9e9;font-weight:normal;}                                              
#main th .link                      {font-size:0.8em;float:right;margin-top:.2em;}        

#main table.persons td                            {width:25%;border:none;padding:2em 0.4em 0;}
#main table.persons ul                            {list-style-type:none;}
#main table.persons ul h4                         {margin:0;padding:0;font-weight:bold;}
#main table.persons td .thumbnail                 {float:left;margin-right:.75em;}
#main table.persons td .thumbnail .gravatar       {margin:0;border:solid 1px #ddd;}
#main table.persons td .thumbnail div             {color:white;font-weight:bold;padding:0.1em;font-size:0.9em;text-align:center}
#main table.persons td .thumbnail div.admin       {background-color:#008000;}
#main table.persons td .thumbnail div.owner       {background-color:#FC4B00}
#main table.persons td .thumbnail div.team_admin  {background-color:#cc9900}

div.big_button                          {margin:1.5em 0 0 0;padding:.1em;}
div.big_button                          {border:solid 2px #bbb;background:#eee url("../images/icons/add.png") no-repeat 0.25em 50%;-moz-border-radius:1.3em;-webkit-border-radius:1.3em;border-radius:1.3em;}
div.big_button a                        {padding:.2em 1em .2em 2em;color:#000;font-weight:bold;font-size:1.1em;line-height:1.7em;text-decoration:none;}
div.big_button a:hover                  {background-color:transparent;color:#000;}

#sidebar                            {margin:1em 1em 1em 0}
#sidebar h1                         {background-color:#edf3fe;color:#444;padding:0.75em;font-weight:bold;font-size:1em;}
#sidebar p                          {font-size:1.0em;line-height:01.3em;margin:1em 0.5em 2.0em;}

#admin_info            {background-color:#ffffcc;padding:.5em .75em;}
#admin_info h1         {font-size:1.1em;background-color:transparent;border:none;margin:0;padding:0.75em 0.25em;}
#admin_info ul         {margin:.5em .75em .5em 0;}

#footer                             {padding:1em 1em 1em 2.5em;color:#9999a6;font-size:0.75em;}
#footer a                           {color:#9999a6;}
#footer a:hover                     {color:#fff;}

input[type="text"],
input[type="password"],
input.text,
input.title,
textarea,
select                    {margin:0;padding:0.2em;}

/* styling signin style forms */
div.field         {margin-bottom:1em;}
div.action        {margin:1.5em 0;}
div.footer        {margin:1.5em 0 0 0;padding:1em 0 0 0;border-top:dashed 1px #bbb;}

.signin h2                {font-weight:bold;font-size:1.1em;}
.signin p.last            {margin-bottom:0;}
.signin table             {margin:0 auto 2em !important;}
.signin img               {float:left;width:75px;margin-bottom:5em;}
.signin #error_explanation  {margin:1em 0 2em;}
.signin fieldset          {border:none;padding:0 1em;}
.signin fieldset .hint    {color:#000;font-size:.8em;padding-left:.2em;}
.signin td                {font-size:1.2em;padding:0;}
.signin td p              {margin-bottom:1em;}
.signin td.left           {width:60%;}
.signin td.right          {width:40%;}
.signin td.right div      {border-left:solid 3px orange;padding-left:1em;}
.signin td.right div p    {margin:0;line-height:1.1em;}
.signin td                {margin:0;padding:0;}
.signin td h2             {margin:0 1em 0 0;padding:0;}
.signin td p              {margin:0 1em 1.5em 0;padding:0;}
.signin td .action        {margin:-.25em 0 0;}

#main #forgot_password    {width:50em}

a.cancel                  {color:red;font-size:0.9em;}
a.cancel:hover            {color:#fff;background-color:red;}

.field_with_errors        {display:inline;}
.field_with_errors label  {color:red;font-weight:bold !important;}
.field_with_errors input  {border-color:red;}
#main #error_explanation        {margin:1em;}
#main #error_explanation h3     {font-size:1.0em;font-weight:bold;margin:0 0 .5em;}
#main #error_explanation ol     {margin-bottom:0;}


.round        {-moz-border-radius:10px;-webkit-border-radius:10px;border-radius:10px;}
.small_round  {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.shadow       {-moz-box-shadow: 3px 3px 4px #999;-webkit-box-shadow: 3px 3px 4px #999;box-shadow: 3px 3px 4px #999;}

.chooser                  {background-color:transparent;color:#fff;padding-left:0;}
.chooser li               {font-size:2em;background-color:#3b5998;padding:0 5px;margin:0.2em 0;list-style-type:none;}
.chooser li h2            {color:#fff;}
.chooser form             {display:inline;}
.chooser form div         {display:inline;float:right;}
.chooser form div input   {position:relative;top:-0.2em;}

ul.tabs                     {list-style-type:none;margin:0;padding:0;}
ul.tabs li                  {float:left;margin-right:3px;background-color:#42577b;}
ul.tabs li a                {display:block;padding:0.25em 1em;margin:0;color:#fff;text-decoration:none;}
ul.tabs li a:hover          {background-color:#253966;color:#d6ffff;}
ul.admin                    {float:right;}


/* setting selected tabs */
body.users.show .tabs li a.dashboard,
body.users.index .tabs li a.users,
body.teams.show .tabs li a.teams,
body.accounts.edit .tabs li a.account,
body.memberships.index .tabs li a.users,
body.teams.assign .tabs li a.users,
body.sessions.accounts .tabs li a.accounts           {background-color:#e5e5e5;font-weight:bold;color:#000;}

/* setting selected team settings link */
body.teams.edit .status a.settings            {color:black;text-decoration:none;font-weight:bold;}
body.teams.edit .status a.settings:hover      {background-color:transparent;}
