<div class="thumbnail">
  <%= gravatar_for user %>
  <% user.accountships.each do |accountship| %>
    <% if accountship.account == current_account %>
      <% if user == current_account.owner %>
        <div class="owner">OWNER</div>
      <% elsif accountship.admin? %>
        <div class="admin">ADMIN</div>
      <% else %>
        <div>&nbsp;</div>
      <% end %>
    <% end %>
  <% end %>
</div>

<ul>
  <% unless user.name.blank? %>
    <li><h4><%= user.name %></h4></li>
  <% end %>
  <li><%= link_to user.email, "#" %></li>
  <li><%= link_to 'Edit', edit_user_path(user), :class => 'cancel' %></li>
</ul>

