<div class="thumbnail">
  <%= gravatar_for user %>
  <% user.accountships.each do |accountship| %>
    <% if accountship.account == current_account %>
      <% if accountship.admin? %>
        <div class="admin">ADMIN</div>
      <% else %>
        <div>&nbsp;</div>
      <% end %>
    <% end %>
  <% end %>
</div>

<% unless user.name.nil? %>
  <h4><%= user.name %></h4>
<% end %>
<div><%= link_to user.email, "#" %></div>
<div class="edit"><%= link_to 'Edit', edit_user_path(user), :class => 'cancel' %>


