<div class="content shadow">
  <div class="header">
    <%= render :partial => 'shared/button_link', :locals => {:url => new_user_path } %>
    <h1>Every person from your church</h1>
  </div>
  
  <table class="persons">
    
    <thead>
      <tr>
        <th colspan="3" class="big">
          <strong>Your church:</strong> <%= current_account.name %>
          <span class="link">See the <%= link_to 'administrator list', admins_account_path(current_account), :class => 'cancel' %> to give or take away admin powers</span>
        </th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each_slice(3) do |row| %>
        <tr>
          <% row.each do |user| %>
            <td>
              <%= render 'person', :user => user %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    
  </table>
</div>

