<h3>Skill name</h3>
<p class="block_intro">Skills are what your team members will do when they are scheduled for an event. </p>
<div class="block">
  <%= f.text_field :name %>
</div>
<h3>Description</h3>
<p class="block_intro">Provide an optional description. </p>
<div class="block">
  <%= f.text_area :description, :cols => 50, :rows => 10 %>
</div>