<div class="content shadow">
  <div class="header">
		<% if admin? || team_admin?(@team, current_user) %>
			<div class="link_bar">
				<%= link_to 'New skill', new_team_skill_path(@team) %>
				|
				<%= link_to 'Edit', edit_team_skill_path(@team, @skill) %>
			</div>
		<% end %>
    <h2>Skill details</h2>
  </div>
	<div class="listing">
		<h3><%= @skill.name %></h3>
		<p>
		<% if @skill.description.blank? %>
			No description provided
		<% else %>
			<%= @skill.description %>
		<% end %>
		</p>
	</div>
</div>	
