<% if object.errors.any? %>
  <div id="error_explanation" class="error">
    <h3><%= pluralize(object.errors.count, 'error') %> kept this item from being saved</h3>
    <ol>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>