<div id="sidebar">
  <h1>Delete this account?</h1>
  <p>
    We'll be sorry to see you go.
    Once your account is cancelled, all your team information
    (users, teams, events, files, etc.) will be <strong>immediately and permanently deleted. </strong>
    <br /><br />
    <%= link_to "I understand - please cancel my account", account_path(current_account), :method => :delete, :class => 'cancel', :confirm => "Are you sure you want to cancel this account?\nNote: There is no undo.\n" %>
  </p>
</div>
