<ul class="skillships">
	<% unless @skillships.nil? %>
		<% @skillships.each do |skillship| %>
			<li>
				<%= gravatar_for(skillship.membership.user, { :size => 25, :default => :identicon  }) %>
				<div>
					<%= skillship.membership.user.name_or_email %>
				</div>
			</li>
		<% end %>
	<% else %>
	
	<% end %>
</ul>
